*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+3JxZ8K7njsn9jNjrL9xJVBvW7A=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0lAFGgL6YJpHuqlbLm88ae+xfXo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2Qwl7HY5Rfux7iKb6YIzQFFZawk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4E+WC95EHFGDb1wgNv7tPi93oUA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4G_fMOjs4KumIR0Ed7nhQTgBpg4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5ZuTay+W_6+SQ691RUm3YUIYuYI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6BUzSpam8obYz1MAdGALDR5Z5gU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8a5+HcNmxdnWs9I0peKF8UxOdVk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/51ZrbJg1_if5JqPJysRFSViTKZo=
/app/build/intermediates/project_dex_archive/debug/out/0284715fde280e875380c16d0ddd85b1ff0b43aa3f348d9c1b1247a8e99eb957_0.jar
/app/build/intermediates/project_dex_archive/debug/out/0284715fde280e875380c16d0ddd85b1ff0b43aa3f348d9c1b1247a8e99eb957_1.jar
/app/build/intermediates/project_dex_archive/debug/out/0284715fde280e875380c16d0ddd85b1ff0b43aa3f348d9c1b1247a8e99eb957_2.jar
/app/build/intermediates/project_dex_archive/debug/out/0284715fde280e875380c16d0ddd85b1ff0b43aa3f348d9c1b1247a8e99eb957_3.jar
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_5zr+5Hstlj1GPwMNFpCt4Ydpe4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AetvHk+qb56KqZz7VpG4NbhLYGY=
/app/build/intermediates/apk/debug/app-debug.apk
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/B9EXIDvFPGZxSPyWavfMuPmz02o=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Bhh_9wuSyY5KaTRko1WV1YQ096g=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BS3yF52_orAL353k7JaH2XdDNJA=
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/CategoryDetailActivity$2.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/CategoryDetailActivity$2.dex
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/CategoryDetailActivity$3.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/CategoryDetailActivity$3.dex
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/CategoryDetailActivity$4.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/CategoryDetailActivity$4.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Cl7CIwPFsyyUY43GTOP_9BKh2SU=
/app/build/intermediates/assets/debug/mergeDebugAssets/sdk_versions/com.mapbox.android.core
/app/build/intermediates/assets/debug/mergeDebugAssets/sdk_versions/com.mapbox.android.telemetry
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dhAs2xp1FP4ZN6Wdv9icpKh7Adw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DPX3aewTySDyQORsFr4YYdCGyBE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/e0voxFyyMLJq301VPtCK7Za65zg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/eJAsB6AgKA8Pk_MpNrQcxAg9nHg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/essamVewShEuMFkEBsMr5dB1xvs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/F15tvdJFI6eDJT3g5Bx6q82BtfM=
/app/build/intermediates/assets/debug/mergeDebugAssets/fa-brands-400.ttf
/app/build/intermediates/assets/debug/mergeDebugAssets/fa-regular-400.ttf
/app/build/intermediates/assets/debug/mergeDebugAssets/fa-solid-900.ttf
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/feCOgegxTopXHgV9mL3SibpgFBc=
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_696841be94d0f835c64c504208949578a2ce8bb9cc070f305b4fa20ef5e92f57_bucket_0/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_696841be94d0f835c64c504208949578a2ce8bb9cc070f305b4fa20ef5e92f57_bucket_1/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_696841be94d0f835c64c504208949578a2ce8bb9cc070f305b4fa20ef5e92f57_bucket_2/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_696841be94d0f835c64c504208949578a2ce8bb9cc070f305b4fa20ef5e92f57_bucket_3/graph.bin
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gSBN4b1pF+IyzIqDCxd+v3Fvnzs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/GwW31jAV5stMML_RNWzaZxughaU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hi3eWoTGr0geFaD5c5EV29Gu28A=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hOoFfEv0JjQMiFcUh4X29UDe15Q=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hy_5UsHpd94n8nSPdnEeoqCljFw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/iD_0eb_8J323_6KcuEgY+DdxcmY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/J8wjVz0UJzIPQDsIys4DOrEopT0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/J9Ky_WeUordIvRb0revU7RnYKGs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/jo9Myj8oMioEVKSLeyZPsidLtNs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JOJapJeI5DjJOtxexcn4kny8Mn0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JpJ2Dv1NVx_N3TLFEUVvjvakUi8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/jQLsuu56d6X777MuDYu_scN6HVA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/k1frFyFI7KJLIkCIT0oSYJxJiuQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/K_WFFOItYWMPeHiEWdIhAh93dP0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KStTxJlnsMIeBm0iLuliCrDJCyk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KyrZF0eqXuhGIZVyuVP0PRQ1awg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/L0dx3RB8MgUVl6echhFDePaJ8UI=
/app/build/intermediates/merged_res/debug/layout_popular_category_item.xml.flat
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LkZ66M4Njsvh2Pxdx7rIlP+cnJc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MOlVpYcAtcHYAa+huxiPytDvYro=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/n3eGcYS0FWWTMz85QFe3i3prp5E=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NHluMahf8+dzukYKOqZ84JPiQbw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NVXU+xxeMLxv_383yJLmlyY5pco=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/nweNiKfxTHzNJuNk4HYVTM0nsVM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/oj0u0sF3jzKCDVtQkpEzBS80nVg=
/app/build/intermediates/apk/debug/output-metadata.json
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/oXT9lD2dRy8qhoAVe0e4sypRJrM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pgVOmeyGNB1bQLmOmo9X+D6r0v8=
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/Adapters/PopularCategoryAdapter$OnItemClickListener.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/Adapters/PopularCategoryAdapter$OnItemClickListener.dex
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/Adapters/PopularCategoryAdapter$PopularCategoryViewHolder$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/Adapters/PopularCategoryAdapter$PopularCategoryViewHolder$1.dex
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/Adapters/PopularCategoryAdapter$PopularCategoryViewHolder.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/Adapters/PopularCategoryAdapter$PopularCategoryViewHolder.dex
/app/build/intermediates/javac/debug/classes/com/example/chillersmarket/Adapters/PopularCategoryAdapter.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/chillersmarket/Adapters/PopularCategoryAdapter.dex
/app/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/app/build/intermediates/apk_ide_redirect_file/debug/redirect.txt
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RowHUegZvqF4x_8XXlErL5Pf2LQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/rXI+0Dle_GDVoaB0QWDc24GjGDo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/s3G1hDQnDuBTGMbPfwnrUtak5eY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/s_3vUC4fe_UaX60n+wjxYmGnwSQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SgRAV3454Mot2SVPxKY7i7hpO8w=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SvRbA_fujn+cSDwb7RLy6_FNn8g=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tAQeNn7TRfTf9Ud_F5kQnOq4alM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UI2MA5koc95FwYFlYsl3MBzGj6c=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UQJ4S1zVJMAqzbMmRQTbLMUs8_E=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/uqkXmck4cf+ZukPgoQ6JRGZIX7E=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wI6B0wKwboPKlX0IvLr_uAUABgs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WNiuukA9t8yfez6Dqak2KnIPtPY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WnzCd83fiWZsqWHGzDCttT23aWQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/x+QnMDiyc672XlgHsA_0a314FFg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xhz36VWhcRiTBH5h3KZ0ofpQ6GY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Y5ZWx_WZzoytf88747rBHO2qLlk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/y_d_o1k1adv1CyTfZUnw9pEDy2w=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Yaelt0k2kbXV7JADxMEdjSfnh58=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Yr3eIxz6bfCYf_tje75_N_gWkgU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZBsD97q6EX+Ltz_S4ee3tNCIu0k=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZYNfkqyqFWEzIIbOXCqNihTFM64=
